@import "./App.css";

.slider {
  color: #9d3cff !important;
}

.checkbox {
  font-size: 12px;
}

.nav-btn-tri {
  background-color: #9d3cff !important;
}

.nav-btn-tri:hover {
  background-color: #9d3cff !important;
}

.border-1 {
  padding-left: 10px !important;
  padding-top: 1px !important;
  border-color: var(--txt-color) !important;
  border-width: 0.1px !important;
  color: var(--txt-color);
  background-color: #ffffff00;
}

.filter {
  background-color: var(--for-color) !important;
  height: 100%;
  overflow: hidden !important;
}

.txt {
  color: var(--txt-color) !important;
}

.input-group {
  padding: 3px 6px;
  border-radius: 20px;

  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(158, 148, 167, 0.13);
}

.form-control {
  background: none;
  border: none;
}
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
}

.input-group .button {
  margin-left: 10px !important;
  margin-right: 0px !important;
  background: none !important;
  border: 0px !important;
  padding-right: 0px !important;
}

.input-group .button img {
  width: 60px;
}
